{% extends 'wrapper.html' %}
{% load static %}

{% block title %}
{{tr.add_coach}}
{% endblock %}

{% block content %}
<main>
    <h1 class="title title-head">{{ tr.adding_coach }}</h1>
    <form method="post" id="coach-form" class="login-form">
        {% csrf_token %}
        <div class="big-input name_input_container">
             <input type="text" name="lastname" class="input auth-input" placeholder="{{tr.add_coach_page_lastname}}" value="{% if form.lastname.value %}{{ form.lastname.value }}{% endif %}"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/star.png' %}"
            />
          </div>
            {% if form.lastname.errors %}
                <div class="error-info">{{ form.lastname.errors }}</div>
            {% endif %}
        </div>
        <div class="big-input name_input_container">
             <input type="text" name="firstname" class="input auth-input" placeholder="{{tr.add_coach_page_firstname}}" value="{% if form.firstname.value %}{{ form.firstname.value }}{% endif %}"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/star.png' %}"
            />
          </div>
            {% if form.firstname.errors %}
                <div class="error-info">{{ form.firstname.errors }}</div>
            {% endif %}
        </div>
        <div class="big-input name_input_container">
             <input type="text" name="secondname" class="input auth-input" placeholder="{{tr.add_coach_page_secondname}}" value="{% if form.secondname.value %}{{ form.secondname.value }}{% endif %}"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/star.png' %}"
            />
          </div>
            {% if form.secondname.errors %}
                <div class="error-info">{{ form.secondname.errors }}</div>
            {% endif %}
        </div>
        <div class="big-input name_input_container">
             <input type="text" name="email" class="input auth-input" placeholder="E-mail" value="{% if form.email.value %}{{ form.email.value }}{% endif %}"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/star.png' %}"
            />
          </div>
            {% if form.email.errors %}
                <div class="error-info">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="big-input name_input_container">
             <input type="text" name="phone" class="input auth-input" placeholder="{{ tr.phone }}" value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/star.png' %}"
            />
          </div>
            {% if form.phone.errors %}
                <div class="error-info">{{ form.phone.errors }}</div>
            {% endif %}
        </div>
        <div class="big-input name_input_container">
        {{ form.tshirt_size }}
          <div class="alarm">
            <img
              src="{% static 'assets/img/star.png' %}"
            />
          </div>
            {% if form.tshirt_size.errors %}
                <div class="error-info">{{ form.tshirt_size.errors }}</div>
            {% endif %}
        </div>
        <button class="button button-primary auth-button" type="submit">{{tr.create}}</button>
    </form>
</main>
{% endblock %}

{% block extra_scripts %}
<script type="module" src="{% static 'assets/js/utils/add-header.js' %}"></script>
<script type="module" src="{% static 'assets/js/utils/add-footer.js' %}"></script>
<script type="module">
  import { createDroplist } from "{% static 'assets/js/droplist.js' %}";
</script>
{% endblock %}
