{% extends 'wrapper.html' %}
{% load static %}

{% block title %}
    {{ tr.title|default:"BSUIR Open XIV" }}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'assets/css/main-page.css' %}" />
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main class="main-page">
      <section id="main" class="main">
        <div class="main-span">
          <h1 class="main-title">{{ tr.title }}</h1>
          <div class="hidden main-title-span">
            <h1 class="main-title-mobile hidden">BSUIR Open</h1>
            <h1 class="main-title-mobile hidden big-text">XIV</h1>
          </div>
          <p class="main-description">
            {{ tr.index_main_description|safe }}
          </p>
        </div>
        <img src="{% static 'assets/img/valoshka.svg' %}" alt="valoshka" class="valoshka" />
      </section>
      <section id="about" class="about">
        <ul class="about-list">
          <li class="about-list-item">{{ tr.index_about_list_1 }}</li>
          <li class="about-list-item">{{ tr.index_about_list_2 }}</li>
          <li class="about-list-item">{{ tr.index_about_list_3 }}</li>
          <li class="about-list-item">{{ tr.index_about_list_4 }}</li>
          <li class="about-list-item">{{ tr.index_ages_header }}:</li>
        </ul>
        <div class="teams">
          <div class="team">
            <span class="team-title">Junior</span>
            <p class="team-description">{{ tr.index_age_junior }}</p>
          </div>
          <img src="{% static 'assets/img/Logo.svg' %}" class="teams-logo" />
          <div class="team">
            <span class="team-title">Student</span>
            <p class="team-description">{{ tr.index_age_student }}</p>
          </div>
        </div>
      </section>
      <section id="stages" class="stages">
        <nav class="nav">
          <ul class="buttons"></ul>
        </nav>
        <div id="quaterfinals" class="stage">
          <p>{{ tr.index_quarter_purpose }}:</p>
          <ul class="stages-list">
            <li class="stages-list-item">{{ tr.index_quarter_list_1 }}</li>
            <li class="stages-list-item">{{ tr.index_quarter_list_2 }}</li>
          </ul>
          <p>{{ tr.index_quarter_info }}</p>
          <p>{{ tr.index_quarter_pass }}</p>
        </div>
        <div id="semifinals" class="stage">
          <p>{{ tr.index_semifinal_info }}</p>
          <p>{{ tr.index_semifinal_details_short }}</p>
        </div>
        <div id="finals" class="stage">
          <p>{{ tr.index_final_info }}</p>
          <ul class="stages-list">
            <li class="stages-list-item">{{ tr.index_final_list_1 }}</li>
            <li class="stages-list-item">{{ tr.index_final_list_2 }}</li>
          </ul>
          <p>{{ tr.index_final_additional }}</p>
        </div>
      </section>
      <section id="schedule" class="schedule">
        <div class="schedule-list">
          <div class="schedule-item flex-row">
            <img src="{% static 'assets/img/maladosc_light.svg' %}" class="maladosc" />
            <div>
              <h3 class="schedule-title">{{ tr.registration }}</h3>
              <p class="schedule-description">{{ tr.reg_start_day }} - {{ tr.reg_end_day }}</p>
            </div>
          </div>
          <img
            src="{% static 'assets/img/schedule-strelka.svg' %}"
            class="schedule-strelka"
          />
          <div class="schedule-item flex-row-reverse">
            <img src="{% static 'assets/img/maladosc_light.svg' %}" class="maladosc" />
            <div>
              <h3 class="schedule-title">{{ tr.index_selection_header }}</h3>
              <p class="schedule-description">{{ tr.qual_start_day }} - {{ tr.qual_end_day }}</p>
            </div>
          </div>
          <img
            src="{% static 'assets/img/schedule-strelka.svg' %}"
            class="schedule-strelka"
          />
          <div class="schedule-item flex-row">
            <img src="{% static 'assets/img/maladosc_light.svg' %}" class="maladosc" />
            <div>
              <h3 class="schedule-title">{{ tr.semifinal }}</h3>
              <p class="schedule-description">{{ tr.semi_day }}</p>
            </div>
          </div>
          <img
            src="{% static 'assets/img/schedule-strelka.svg' %}"
            class="schedule-strelka"
          />
        </div>
        <div class="finals">
          <img src="{% static 'assets/img/ornament-strelka-mobile.svg' %}" class="hidden" />
          <h2 class="finals-title">{{ tr.index_round_final }}</h2>
          <div class="finals-span">
            <img src="{% static 'assets/img/ornament-strelka.svg' %}" class="strelka" />
            <div class="description-mobile">
              <p class="finals-description">{{ tr.stud_final }} - {{ tr.stud_final_day }}</p>
              <p class="finals-description">{{ tr.jun_final }} - {{ tr.jun_final_day }}</p>
            </div>
            <img
              src="{% static 'assets/img/ornament-strelka.svg' %}"
              class="strelka rotate"
            />
          </div>
          <img src="{% static 'assets/img/ornament-strelka-mobile.svg' %}" class="hidden" />
        </div>
      </section>
      <section id="partners" class="partners">
        <div class="sponsors">
          <div class="logos-line">
            <a target="_blank">
              <img src="{% static 'assets/img/sponsors/Pinely.svg' %}" class="pinely"
            /></a>
            <a href="https://yandex.by" target="_blank"
              ><img src="{% static 'assets/img/sponsors/Yandex.svg' %}" class="yandex"
            /></a>
            <a href="https://mdait.by" target="_blank">
              <img src="{% static 'assets/img/sponsors/MDA.svg' %}" class="mda"
            /></a>
            <a href="https://tdev.by/it/" target="_blank">
              <img src="{% static 'assets/img/sponsors/T-Bank.svg' %}" class="tbank"
            /></a>
          </div>
          <div class="logos-line">
            <a href="https://www.openmygame.com" target="_blank">
              <img src="{% static 'assets/img/sponsors/OpenMyGame.svg' %}" class="openmygame"
            /></a>
            <a href="https://www.modsen.by" target="_blank">
              <img src="{% static 'assets/img/sponsors/Modsen.svg' %}" class="modsen"
            /></a>
          </div>
          <div class="logos-line">
            <a href="https://lwo.by" target="_blank">
              <img src="{% static 'assets/img/sponsors/LWO.svg' %}" class="lwo"
            /></a>
            <a>
              <img src="{% static 'assets/img/sponsors/Techarena.svg' %}" class="techarena"
            /></a>
            <a href="https://yadro.com" target="_blank">
              <img src="{% static 'assets/img/sponsors/Yadro.svg' %}" class="yadro"
            /></a>
          </div>
        </div>
        <div class="sponsors-mobile">
          <a target="_blank">
            <img src="{% static 'assets/img/sponsors/Pinely.svg' %}" class="pinely"
          /></a>
          <a href="https://yandex.by" target="_blank"
            ><img src="{% static 'assets/img/sponsors/Yandex.svg' %}" class="yandex"
          /></a>
          <a href="https://mdait.by" target="_blank">
            <img src="{% static 'assets/img/sponsors/MDA.svg' %}" class="mda"
          /></a>
          <a href="https://tdev.by/it/" target="_blank">
            <img src="{% static 'assets/img/sponsors/T-Bank.svg' %}" class="tbank"
          /></a>
          <a href="https://lwo.by" target="_blank">
            <img src="{% static 'assets/img/sponsors/LWO.svg' %}" class="lwo"
          /></a>
          <a href="https://yadro.com" target="_blank">
            <img src="{% static 'assets/img/sponsors/Yadro.svg' %}" class="yadro"
          /></a>
          <a href="https://www.openmygame.com" target="_blank">
            <img src="{% static 'assets/img/sponsors/OpenMyGame.svg' %}" class="openmygame"
          /></a>
          <a>
            <img src="{% static 'assets/img/sponsors/Techarena.svg' %}" class="techarena"
          /></a>
          <a href="https://www.modsen.by" target="_blank">
            <img src="{% static 'assets/img/sponsors/Modsen.svg' %}" class="modsen"
          /></a>
        </div>
        <img src="{% static 'assets/img/Logo.svg' %}" class="transparent-logo" />
      </section>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_scripts %}
<script>
  window.BSUIR_CONFIG = {
    ...(window.BSUIR_CONFIG || {}),
    authenticated: {{ user.is_authenticated|yesno:"true,false" }},
    authLinks: {
        account: "{% url 'team-detail' %}",
        logout: "{% url 'logout' %}",
        login: "{% url 'login' %}",
    }
  };
</script>
<script type="module" src="{% static 'assets/js/utils/add-header.js' %}"></script>
<script type="module" src="{% static 'assets/js/utils/add-footer.js' %}"></script>
<script type="module" src="{% static 'assets/js/utils/add-buttons.js' %}"></script>
<script type="module" src="{% static 'assets/js/utils/add-title.js' %}"></script>
<script type="module" src="{% static 'assets/js/scroll.js' %}"></script>

{% endblock %}
