{% extends 'wrapper.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
<main>
  <section id="main-section">
    <img
      src="{% static 'assets/img/logo.svg' %}"
      alt="BSUIR Open logo"
      class="bsuir-open-logo"
    />
    <h1 class="main-title">BSUIR OPEN XIII</h1>
    <img src="{% static 'assets/img/tower.png' %}" alt="tower" class="tower" />
    <img src="{% static 'assets/img/plane.png' %}" alt="plane" class="plane" />
    <img src="{% static 'assets/img/roadr.png' %}" alt="road" class="road" />
  </section>
  <section id="about">
    <h2 class="title">Об олимпиаде</h2>
    <p class="text">
      13-й командный чемпионат БГУИР по спортивному программированию
    </p>
    <ul class="about-list">
      <li>
        <img
          class="plane-point-image"
          src="{% static 'assets/img/plane point.svg' %}"
          alt="plane point"
        />
        <p class="text">Проводится по стандартным правилам ICPC</p>
      </li>
      <li>
        <img
          class="plane-point-image"
          src="{% static 'assets/img/plane point.svg' %}"
          alt="plane point"
        />
        <p class="text">Команды от 1 до 3 человек</p>
      </li>
      <li>
        <img
          class="plane-point-image"
          src="{% static 'assets/img/plane point.svg' %}"
          alt="plane point"
        />
        <p class="text">Участники со всего земного шара</p>
      </li>
      <li>
        <img
          class="plane-point-image"
          src="{% static 'assets/img/plane point.svg' %}"
          alt="plane point"
        />
        <p class="text">Интересные задачи и незабываемые эмоции</p>
      </li>
      <li>
        <img
          class="plane-point-image"
          src="{% static 'assets/img/plane point.svg' %}"
          alt="plane point"
        />
        <p class="text">Две возрастные категории:</p>
      </li>
    </ul>

    <div class="ages">
      <div class="age">
        <span class="title age-title">Junior</span>
        <p class="text age-text">- школьные команды</p>
      </div>
      <div class="age">
        <span class="title age-title">Student</span>
        <p class="text age-text">- студенческие команды</p>
      </div>
    </div>
  </section>
  <section id="stages">
    <h2 class="title title-right">Этапы</h2>
    <nav>
      <ul class="steps-list">
        <li>
          <button
            class="step-button step-button-active"
            data-target="#quaterfinal"
          >
            Четвертьфинал
          </button>
        </li>
        <li>
          <button class="step-button" data-target="#halffinal">
            Полуфинал
          </button>
        </li>
        <li>
          <button class="step-button" data-target="#final">Финал</button>
        </li>
      </ul>
    </nav>
    <div class="card">
      <div class="card-header">
        <p class="main-title card-title">BSUIR OPEN XIII</p>
        <img
          src="{% static 'assets/img/logo.svg' %}"
          alt="BSUIR Open logo"
          class="card-logo"
        />
      </div>
      <div class="card-body">
        <div class="card-description active" id="quaterfinal">
          <p class="stage-title">Четвертьфинал</p>
          <p class="text card-text">Цели отборочного тура:</p>
          <ul class="card-description-list">
            <li class="point">
              <p class="text card-text">
                дать возможность командам самостоятельно оценить уровень
                подготовки к участию в Чемпионате;
              </p>
            </li>
            <li class="point">
              <p class="text card-text">
                команды, которые смогут бороться во втором отборочном туре
                (полуфинале) за выход в финал Чемпионата.
              </p>
            </li>
          </ul>
          <p class="text card-text">
            Четвертьфинал является обязательным отборочным этапом для команд
            БГУИР и школьников. Остальные команды по желанию также могут принять
            участие в данном туре. Смешанные команды, в состав которых входит
            хотя бы один студент, магистрант или аспирант БГУИР, также должны
            принимать участие в четвертьфинале соревнований.
          </p>
          <p class="text card-text">
            Команды, решившие не менее половины из предложенных задач, проходят
            во второй отборочный тур (полуфинал соревнований).
          </p>
        </div>
        <div class="card-description" id="halffinal">
          <p class="stage-title">Полуфинал</p>
          <p class="text card-text">
            Второй отборочный тур (полуфинал) проводится в очно-заочной форме.
            Командам-участницам предлагается решить от 4 до 12 задач (текст
            задач на русском и английском языках) за 4-5 астрономических часов.
            Жюри имеет право продлить соревнования в случае каких-либо
            непредвиденных обстоятельств.
          </p>
          <p class="text card-text">
            Команды БГУИР участвуют в туре очно на базе университета. Команды не
            из БГУИР решают тур заочно в своих учреждениях образования. За
            соблюдение правил соревнований в данном случае отвечает тренер
            команды. Участники других учреждений образования, изъявившие желание
            участвовать в полуфинале на базе БГУИР, должны заранее сообщить
            организаторам об этом.
          </p>
        </div>
        <div class="card-description" id="final">
          <p class="stage-title">Финал</p>
          <p class="text card-text">
            В следующий этап (финал) проходят 30 команд, показавшие лучшие
            результаты на данном этапе, но не более:
          </p>
          <ul class="card-description-list">
            <li class="point">
              <p class="text card-text">
                7 команд студентов, магистрантов и аспирантов БГУИР;
              </p>
            </li>
            <li class="point">
              <p class="text card-text">
                2 команд от каждого ВУЗа или ССУЗа Республики Беларусь и стран
                зарубежья;
              </p>
            </li>
          </ul>
          <p class="text card-text">
            Для команд из средних общеобразовательных учреждений проводится
            отдельный финал, в который приглашается не более 25 команд и не
            более одной команды от каждого учреждения образования. Решение об
            участии в школьном финале команд, участники которых являются
            представителями разных учреждений образования, принимается
            организационным комитетом в индивидуальном порядке.
          </p>
          <p class="text card-text">
            По решению оргкомитета и жюри количество команд, которое проходит в
            следующий этап, их состав, а также квота могут быть изменены.
          </p>
          <p class="text card-text">
            Финал соревнований проводится в очной форме. Участникам предлагается
            решить от 6 до 12 алгоритмических задач (тексты задач на английском
            языке) за 5 астрономических часов.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="timetable">
    <span class="timetable-title">
      <img class="plane-title" src="{% static 'assets/img/plane point.svg' %}" />
      <h2 class="title">Расписание</h2>
    </span>
    <div class="desktop-timetable">
      <table class="table">
        <thead>
          <tr>
            <td class="header-text">Дата</td>
            <td class="header-text">Этап</td>
            <td class="header-text">Статус</td>
          </tr>
        </thead>
        <tbody>
          <tr class="underlined">
            <td class="merge-date">
              <img
                src="{% static 'assets/img/merge-line.svg' %}"
                alt=""
                class="merge-line"
              />
              <div class="date">
                <p class="date-text">1 марта</p>
                <p class="date-text">20 марта</p>
              </div>
            </td>
            <td class="stage-text">Регистрация</td>
            <td class="status-text">До начала регистрации осталось n дней</td>
          </tr>
          <tr class="underlined">
            <td class="merge-date">
              <img
                src="{% static 'assets/img/merge-line.svg' %}"
                alt=""
                class="merge-line"
              />
              <div class="date">
                <p class="date-text">17 марта</p>
                <p class="date-text">23 марта</p>
              </div>
            </td>
            <td class="stage-text">Отборочный тур</td>
            <td class="status-text">
              До начала отборочного тура осталось n дней
            </td>
          </tr>
          <tr class="underlined">
            <td class="date-text">9 апреля</td>
            <td class="stage-text">Полуфинал</td>
            <td class="status-text">До начала полуфинала осталось n дней</td>
          </tr>
          <tr class="underlined">
            <td class="date-text">26 апреля</td>
            <td>
              <p class="stage-text">Финал Student</p>
              <p class="status-text">(Минск, Гикало 9)</p>
            </td>
            <td class="status-text">До начала финала осталось n дней</td>
          </tr>
          <tr>
            <td class="date-text">3 мая</td>
            <td>
              <p class="stage-text">Финал Junior</p>
              <p class="status-text">(Минск, Гикало 9)</p>
            </td>
            <td class="status-text">До начала финала осталось n дней</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mobile-timetable">
      <p class="title timetable-title">Регистрация</p>
      <p class="text">17 марта - 20 марта</p>
      <p class="title timetable-title">Отборочный тур</p>
      <p class="text">17 марта - 23 марта</p>
      <p class="title timetable-title">Полуфинал</p>
      <p class="text">9 марта</p>
      <p class="title timetable-title">Финал Student</p>
      <p class="text">26 апреля</p>
      <p class="title timetable-title">Финал Junior</p>
      <p class="text">3 мая</p>
    </div>
  </section>
  <section id="partners">
    <!-- <h2 class="title">Наши партнеры</h2>
    <div class="partners-icons">
      <img src="{% static 'assets/img/Huawei.png' %}" alt="Huawei" class="sponsor-logo" />
      <img src="{% static 'assets/img/Huawei.png' %}" alt="Huawei" class="sponsor-logo" />
      <img src="{% static 'assets/img/Huawei.png' %}" alt="Huawei" class="sponsor-logo" />
      <img src="{% static 'assets/img/Huawei.png' %}" alt="Huawei" class="sponsor-logo" />
    </div> -->
    <img src="{% static 'assets/img/plane-front.svg' %}" alt="plane" class="plane-front" />
    <img src="{% static 'assets/img/cloud1.svg' %}" alt="" class="cloud-1" />
    <img src="{% static 'assets/img/cloud2.svg' %}" alt="" class="cloud-2" />
  </section>
</main>

{% endblock %}
