{% extends 'wrapper.html' %}
{% load static %}

{% block title %}
    {{ tr.title|default:"BSUIR Open XIV" }}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'assets/css/main-page.css' %}" />
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main class="main-page">
      <section id="main" class="main">
        <div class="main-span">
          <h1 class="main-title">{{ tr.title }}</h1>
          <div class="hidden main-title-span">
            <h1 class="main-title-mobile hidden">BSUIR Open</h1>
            <h1 class="main-title-mobile hidden big-text">XIV</h1>
          </div>
          <p class="main-description">
            {{ tr.index_main_description|default:"14-й&nbsp;командный&nbsp;чемпионат&nbsp;БГУИР по&nbsp;спортивному&nbsp;программированию"|safe }}
          </p>
        </div>
        <img src="{% static 'assets/img/valoshka.svg' %}" alt="valoshka" class="valoshka" />
      </section>
      <section id="about" class="about">
        <ul class="about-list">
          <li class="about-list-item">{{ tr.index_about_list_1|default:"Проводится по стандартным правилам ICPC" }}</li>
          <li class="about-list-item">{{ tr.index_about_list_2|default:"Команды от 1 до 3 человек" }}</li>
          <li class="about-list-item">{{ tr.index_about_list_3|default:"Участники со всего земного шара" }}</li>
          <li class="about-list-item">{{ tr.index_about_list_4|default:"Интересные задачи и незабываемые эмоции" }}</li>
          <li class="about-list-item">{{ tr.index_ages_header|default:"Две возрастные категории" }}:</li>
        </ul>
        <div class="teams">
          <div class="team">
            <span class="team-title">Junior</span>
            <p class="team-description">{{ tr.index_age_junior }}</p>
          </div>
          <img src="{% static 'assets/img/Logo.svg' %}" class="teams-logo" />
          <div class="team">
            <span class="team-title">Student</span>
            <p class="team-description">{{ tr.index_age_student }}</p>
          </div>
        </div>
      </section>
      <section id="stages" class="stages">
        <nav class="nav">
          <ul class="buttons"></ul>
        </nav>
        <div id="quaterfinals" class="stage">
          <p>{{ tr.index_quarter_purpose|default:"Цели отборочного тура" }}:</p>
          <ul class="stages-list">
            <li class="stages-list-item">{{ tr.index_quarter_list_1|default:"дать возможность командам самостоятельно оценить уровень подготовки к участию в Чемпионате;" }}</li>
            <li class="stages-list-item">{{ tr.index_quarter_list_2|default:"команды, которые смогут бороться во втором отборочном туре (полуфинале) за выход в финал Чемпионата." }}</li>
          </ul>
          <p>{{ tr.index_quarter_info|default:"Четвертьфинал является обязательным отборочным этапом для команд БГУИР и школьников." }}</p>
          <p>{{ tr.index_quarter_pass|default:"Команды, решившие не менее половины из предложенных задач, проходят во второй отборочный тур." }}</p>
        </div>
        <div id="semifinals" class="stage">
          <p>{{ tr.index_semifinal_info|default:"Второй отборочный тур (полуфинал) проводится в очно-заочной форме." }}</p>
          <p>{{ tr.index_semifinal_details|default:"Команды БГУИР участвуют в туре очно на базе университета." }}</p>
        </div>
        <div id="finals" class="stage">
          <p>{{ tr.index_final_info|default:"В следующий этап (финал) проходят 30 команд, показавшие лучшие результаты." }}</p>
          <ul class="stages-list">
            <li class="stages-list-item">{{ tr.index_final_list_1|default:"7 команд студентов, магистрантов и аспирантов БГУИР;" }}</li>
            <li class="stages-list-item">{{ tr.index_final_list_2|default:"2 команды от каждого ВУЗа или ССУЗа Республики Беларусь и стран зарубежья;" }}</li>
          </ul>
          <p>{{ tr.index_final_additional|default:"По решению оргкомитета и жюри количество команд, которое проходит в следующий этап, может быть изменено." }}</p>
          <p>{{ tr.rul_page_titl_conduct_finals_descript|default:"Финал соревнований проводится в очной форме." }}</p>
        </div>
      </section>
      <section id="schedule" class="schedule">
        <div class="schedule-list">
          <div class="schedule-item flex-row">
            <img src="{% static 'assets/img/maladosc_light.svg' %}" class="maladosc" />
            <div>
              <h3 class="schedule-title">{{ tr.registration|default:"Регистрация" }}</h3>
              <p class="schedule-description">{{ tr.reg_start_day|default:"1 марта" }} - {{ tr.reg_end_day|default:"20 марта" }}</p>
            </div>
          </div>
          <img
            src="{% static 'assets/img/schedule-strelka.svg' %}"
            class="schedule-strelka"
          />
          <div class="schedule-item flex-row-reverse">
            <img src="{% static 'assets/img/maladosc_light.svg' %}" class="maladosc" />
            <div>
              <h3 class="schedule-title">{{ tr.index_selection_header|default:"Отборочный тур" }}</h3>
              <p class="schedule-description">{{ tr.qual_start_day|default:"16 марта" }} - {{ tr.qual_end_day|default:"22 марта" }}</p>
            </div>
          </div>
          <img
            src="{% static 'assets/img/schedule-strelka.svg' %}"
            class="schedule-strelka"
          />
          <div class="schedule-item flex-row">
            <img src="{% static 'assets/img/maladosc_light.svg' %}" class="maladosc" />
            <div>
              <h3 class="schedule-title">{{ tr.semifinal|default:"Полуфинал" }}</h3>
              <p class="schedule-description">{{ tr.semi_day|default:"8 апреля" }}</p>
            </div>
          </div>
          <img
            src="{% static 'assets/img/schedule-strelka.svg' %}"
            class="schedule-strelka"
          />
        </div>
        <div class="finals">
          <img src="{% static 'assets/img/ornament-strelka-mobile.svg' %}" class="hidden" />
          <h2 class="finals-title">{{ tr.index_round_final|default:"Финал" }}</h2>
          <div class="finals-span">
            <img src="{% static 'assets/img/ornament-strelka.svg' %}" class="strelka" />
            <div class="description-mobile">
              <p class="finals-description">{{ tr.stud_final|default:"Student" }} - {{ tr.stud_final_day|default:"24 апреля" }}</p>
              <p class="finals-description">{{ tr.jun_final|default:"Junior" }} - {{ tr.jun_final_day|default:"25 апреля" }}</p>
            </div>
            <img
              src="{% static 'assets/img/ornament-strelka.svg' %}"
              class="strelka rotate"
            />
          </div>
          <img src="{% static 'assets/img/ornament-strelka-mobile.svg' %}" class="hidden" />
        </div>
      </section>
      <section id="partners" class="partners">
        <div class="sponsors">
          <div class="logos-line">
            <a href="https://pinely.com" target="_blank">
              <img src="{% static 'assets/img/sponsors/Pinely.svg' %}" class="pinely"
            /></a>
            <a href="https://yandex.by" target="_blank"
              ><img src="{% static 'assets/img/sponsors/Yandex.svg' %}" class="yandex"
            /></a>
            <a href="https://mdait.by" target="_blank">
              <img src="{% static 'assets/img/sponsors/MDA.svg' %}" class="mda"
            /></a>
            <a href="https://tdev.by/it/" target="_blank">
              <img src="{% static 'assets/img/sponsors/T-Bank.svg' %}" class="tbank"
            /></a>
          </div>
          <div class="logos-line">
            <a href="https://www.openmygame.com" target="_blank">
              <img src="{% static 'assets/img/sponsors/OpenMyGame.svg' %}" class="openmygame"
            /></a>
            <a href="https://www.modsen.by" target="_blank">
              <img src="{% static 'assets/img/sponsors/Modsen.svg' %}" class="modsen"
            /></a>
          </div>
          <div class="logos-line">
            <a href="https://lwo.by" target="_blank">
              <img src="{% static 'assets/img/sponsors/LWO.svg' %}" class="lwo"
            /></a>
            <a>
              <img src="{% static 'assets/img/sponsors/Techarena.svg' %}" class="techarena"
            /></a>
            <a href="https://yadro.com" target="_blank">
              <img src="{% static 'assets/img/sponsors/Yadro.svg' %}" class="yadro"
            /></a>
          </div>
        </div>
        <div class="sponsors-mobile">
          <a href="https://pinely.com" target="_blank">
            <img src="{% static 'assets/img/sponsors/Pinely.svg' %}" class="pinely"
          /></a>
          <a href="https://yandex.by" target="_blank"
            ><img src="{% static 'assets/img/sponsors/Yandex.svg' %}" class="yandex"
          /></a>
          <a href="https://mdait.by" target="_blank">
            <img src="{% static 'assets/img/sponsors/MDA.svg' %}" class="mda"
          /></a>
          <a href="https://tdev.by/it/" target="_blank">
            <img src="{% static 'assets/img/sponsors/T-Bank.svg' %}" class="tbank"
          /></a>
          <a href="https://lwo.by" target="_blank">
            <img src="{% static 'assets/img/sponsors/LWO.svg' %}" class="lwo"
          /></a>
          <a href="https://yadro.com" target="_blank">
            <img src="{% static 'assets/img/sponsors/Yadro.svg' %}" class="yadro"
          /></a>
          <a href="https://www.openmygame.com" target="_blank">
            <img src="{% static 'assets/img/sponsors/OpenMyGame.svg' %}" class="openmygame"
          /></a>
          <a>
            <img src="{% static 'assets/img/sponsors/Techarena.svg' %}" class="techarena"
          /></a>
          <a href="https://www.modsen.by" target="_blank">
            <img src="{% static 'assets/img/sponsors/Modsen.svg' %}" class="modsen"
          /></a>
        </div>
        <img src="{% static 'assets/img/Logo.svg' %}" class="transparent-logo" />
      </section>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_scripts %}
<script>
  window.BSUIR_CONFIG = {
    ...(window.BSUIR_CONFIG || {}),
    authenticated: {{ user.is_authenticated|yesno:"true,false" }},
    authLinks: {
        account: "{% url 'team-detail' %}",
        logout: "{% url 'logout' %}",
        login: "{% url 'login' %}",
    }
  };
</script>
<script type="module" src="{% static 'assets/js/utils/add-header.js' %}"></script>
<script type="module" src="{% static 'assets/js/utils/add-footer.js' %}"></script>
<script type="module" src="{% static 'assets/js/utils/add-buttons.js' %}"></script>
<script type="module" src="{% static 'assets/js/utils/add-title.js' %}"></script>
<script type="module" src="{% static 'assets/js/scroll.js' %}"></script>

{% endblock %}
