{% extends 'wrapper.html' %}
{% load static %}


{% block title %}
{{ tr.add_participant }}
{% endblock %}

{% block content %}
<main>
      <h1 class="title title-head">{{ tr.adding_participant }}</h1>
      <form class="login-form" method="post">
        {% csrf_token %}

        {% if form.errors %}
            <div class="error-info">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p>{{ field }}: {{ error }}</p>
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}

        <div class="big-input name_input_container">
          <input class="input auth-input" name="lastname" placeholder="{{ tr.add_coach_page_lastname }}" type="text" value="{% if form.lastname.value %}{{ form.lastname.value }}{% endif %}"/>
          
          {% if form.lastname.errors %}
            <div class="alarm">
                <img src="{% static 'assets/img/star.png' %}" alt="error label"/>
            </div>
          {% else %}
            <div class="alarm">
                <img src="{% static 'assets/img/star.png' %}" alt="required label"/>
            </div>
          {% endif %}
        </div>

        <div class="big-input name_input_container">
          <input class="input auth-input" name="firstname" placeholder="{{ tr.add_coach_page_firstname }}" type="text" value="{% if form.firstname.value %}{{ form.firstname.value }}{% endif %}"/>
          <div class="alarm">
            <img src="{% static 'assets/img/star.png' %}" alt="required label"/>
          </div>
        </div>
        <div class="big-input name_input_container">
          <input class="input auth-input" name="secondname" placeholder="{{ tr.add_coach_page_secondname }}" type="text" value="{% if form.secondname.value %}{{ form.secondname.value }}{% endif %}"/>
          <div class="alarm">
            <img src="{% static 'assets/img/star.png' %}" alt="required label"/>
          </div>
        </div>
        <div class="big-input name_input_container">
          <input class="input auth-input" name="education" placeholder="{{ tr.education }}" type="text" value="{% if form.education.value %}{{ form.education.value }}{% endif %}"/>
          <div class="alarm">
            <img src="{% static 'assets/img/star.png' %}" alt="required label"/>
          </div>
        </div>
        <div class="big-input name_input_container">
          <input class="input auth-input" name="email" placeholder="E-mail" type="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}"/>
          <div class="alarm">
            <img src="{% static 'assets/img/star.png' %}" alt="required label"/>
          </div>
        </div>
        <div class="big-input name_input_container">
          <input class="input auth-input" name="phone" placeholder="{{ tr.phone }}" type="text" value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}"/>
          <div class="alarm">
            <img src="{% static 'assets/img/star.png' %}" alt="required label"/>
          </div>
        </div>
        <div class="big-input name_input_container">
          {{ form.student_status }}
          <div class="alarm">
            <img src="{% static 'assets/img/star.png' %}" alt="required label"/>
          </div>
        </div>
        <div class="big-input name_input_container">
            {{ form.tshirt_size }}
          <div class="alarm">
            <img src="{% static 'assets/img/star.png' %}" alt="required label"/>
          </div>
        </div>
        <div class="big-input name_input_container">
            {{ form.country }}
          <div class="alarm">
            <img src="{% static 'assets/img/star.png' %}" alt="required label"/>
          </div>
        </div>
        <span class="error-info">*{{ tr.add_coach_page_required_fields }}</span>
        <button class="button button-primary auth-button">{{ tr.add_participant }}</button>
      </form>
</main>
{% endblock %}

{% block extra_scripts %}
<script type="module" src="{% static 'assets/js/utils/add-header.js' %}"></script>
<script type="module" src="{% static 'assets/js/utils/add-footer.js' %}"></script>
<script type="module">
  import { createDroplist } from "{% static 'assets/js/droplist.js' %}";
</script>
{% endblock %}
