{% extends 'wrapper.html' %}
{% load static %}


{% block title %}
Добавить участника
{% endblock %}

{% block content %}
<form method="post" id="participant-form">
{% csrf_token %}
<div class="container">
    <p class="title headline">Добавление участника</p>
    <div class="grid">
      <div class="grid_item">
        <div class="name_input_container">
          <input type="text" name="lastname" class="input" placeholder="Фамилия"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/arrows/star.png' %}"
            />
          </div>
        </div>
      </div>
      <div class="grid_item">
        <div class="name_input_container">
          <input type="text" name="firstname" class="input" placeholder="Имя"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/arrows/star.png' %}"
            />
          </div>
        </div>
      </div>
      <div class="grid_item">
        <div class="name_input_container">
          <input type="text" name="secondname" class="input" placeholder="Отчество"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/arrows/star.png' %}"
            />
          </div>
        </div>
      </div>
      <div class="grid_item">
        <div class="name_input_container">
          <input type="text"name="education" class="input" placeholder="Учебное заведение"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/arrows/star.png' %}"
            />
          </div>
        </div>
      </div>
      <div class="grid_item">
        <div class="name_input_container">
          <input type="text" name="email" class="input" placeholder="E-mail"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/arrows/star.png' %}"
            />
          </div>
        </div>
      </div>
      <div class="grid_item">
        <div class="name_input_container">
          <input type="text" name="phone" class="input" placeholder="Номер телефона"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/arrows/star.png' %}"
            />
          </div>
        </div>
      </div>
      
        <div class="grid_item">
            {{ form.student_status }}
            <div class="arrow">
            <img
                class="arrowimg"
                src="{% static 'assets/img/arrows/up.png' %}"
            />
            </div>
            <div class="alarm">
            <img
                src="{% static 'assets/img/arrows/star.png' %}"
            />
            </div>
        </div>
        <div class="grid_item">
            {{ form.tshirt_size }}
            <div class="arrow">
            <img
                class="arrowimg"
                src="{% static 'assets/img/arrows/up.png' %}"
            />
            </div>
            <div class="alarm">
            <img
                src="{% static 'assets/img/arrows/star.png' %}"
            />
            </div>
        </div>
        <div class="grid_item">
            {{ form.country }}
            <div class="arrow">
            <img
                class="arrowimg"
                src="{% static 'assets/img/arrows/up.png' %}"
            />
            </div>
            <div class="alarm">
            <img
                src="{% static 'assets/img/arrows/star.png' %}"
            />
            </div>
        </div>
    </div>

    <div class="dirow center">
        <div class="flex restriction restriction_center">
            <h6>*-поля, обязательные для заполнения
                <br>
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    {{error}}</br>
                {% endfor %}
                {% endfor %}
            </h6>
        </div>
        <div class="flex button_add">
            <button class="button signUp-button">Добавить</button>
        </div>
    </div>
</div>
</form>
{% endblock %}
