{% extends "wrapper.html" %}
{% load static %}

{% block title %}
Printing
{% endblock %}

{% block content %}
<main>
<h1 class="title title-head">Insert your code to print</h1>
<style>
    textarea.code {
        box-sizing: border-box;
        border: 0.2em solid var(--green);
        border-radius: 1em;
        width: 200%;
        height: 50vh;
        color: var(--green);
        font-size: var(--font-size-sm);
        padding: 1vh 1rem;
        font-family: monospace;
        font-weight: 600;
        cursor: text;
    }

    textarea.code::placeholder {
        color: var(--green);
        opacity: 1;
    }

    textarea.code:focus {
        transform: scale(1.02);
    }
</style>
<div class="container">
    <form class="login-form" method="post">
        {%csrf_token%}
        <textarea name="text" class="code"></textarea>
        {% if form.errors %}
        <span class="error-info" style="display: block;">
            {% for field in form %}
                {% for error in field.errors %}
                    {{ error }}<br>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                {{ error }}<br>
            {% endfor %}
        </span>
        {% endif %}
        <br>
        <button type="submit" class="button button-primary auth-button">{{ tr.print_sending }}</button>
    </form>
</div>
</main>
{% endblock %}

{% block extra_scripts %}
<script type="module" src="{% static 'assets/js/utils/add-header.js' %}"></script>
<script type="module" src="{% static 'assets/js/utils/add-footer.js' %}"></script>
{% endblock %}
