{% extends 'wrapper.html' %}
{% load static %}

{% block title %} {{ tr.profile|default:"Личный кабинет" }} {% endblock %}

{% block content %}

{% if not request.user.participant.team %}
    <!-- No Team View -->
    <main>
        <h1 class="title title-head">{{ tr.profile|default:"Личный кабинет" }}</h1>

        <div class="profile-container">
            {% if available_reg %}
            <p class="profile-message">{{ tr.empty_team|default:"Вы пока не состоите ни в одной команде" }}</p>
                {% if olymp_type == 'single' %}
                    <form action="/team/create" method="post">
                        {% csrf_token %}
                        <button class="button button-primary" type="submit">{{ tr.create_team|default:"Создать команду" }}</button>
                    </form>
                {% else %}
                    <a href="{% url 'create-team' %}" class="button button-primary">{{ tr.create_team|default:"Создать команду" }}</a>
                {% endif %}
            {% else %}
                <p class="profile-message">{{ tr.registration_closed|default:"Регистрация закрыта" }}</p>
            {% endif %}
        </div>
    </main>

{% else %}
    <!-- Has Team View -->
    <main class="application-block app-main">
      <header>
        <h1 class="title title-head">{{ request.user.participant.team.name }}</h1>
        
        {% if request.user.participant.team.is_ready %}
            <a href="{% url 'verification' %}">
                <button class="button button-primary auth-button">{{ tr.send }}</button>
            </a>
        {% elif not request.user.participant.team.is_sent %}
             <!-- Info that team is not ready/sent yet -->
        {% endif %}
        
        {% if request.user.participant.team.can_print %}
            <a href="{% url 'printer' %}">
                 <button class="button button-primary auth-button">Отправить на печать</button>
            </a>
        {% endif %}
      </header>

      <div class="app-table">
          <div class="app-row">
              <h2 class="title-subhead">{{ tr.status }}</h2>
              <h2 class="title-subhead">{{ request.user.participant.team.get_status_display }}</h2>
          </div>
          <div class="app-row">
              <h2 class="title-subhead">{{ tr.track }}</h2>
              <h2 class="title-subhead">{{ request.user.participant.team.get_type_display }}</h2>
          </div>
          <div class="app-row">
              <h2 class="title-subhead">{{ tr.stage }}</h2>
              <h2 class="title-subhead">{{ request.user.participant.team.stage }}</h2>
          </div>
          {% if credentials and request.user.participant.team.status == 'good' %}
              <div class="app-row">
                  <h2 class="title-subhead">{{ tr.login }}</h2>
                  <h2 class="title-subhead">{{ request.user.participant.team.system_login }}</h2>
              </div>
              <div class="app-row">
                  <h2 class="title-subhead">{{ tr.password }}</h2>
                  <h2 class="title-subhead">{{ request.user.participant.team.system_password }}</h2>
              </div>
          {% endif %}
      </div>

      <footer>
        <div class="app-cards">
            <!-- Coach -->
            <!-- If coach exists -->
            {% if request.user.participant.team.coach %}
              <div class="app-card">
                <div>
                  <h4 class="title">{{ tr.coach }}</h3>
                  <h3 class="title title-subhead">{{ request.user.participant.team.coach.fullname }}</h4>
                  <p class="app-card-info">{{ tr.phone }}: {{ request.user.participant.team.coach.phone }}</p>
                  <p class="app-card-info">{{ tr.email }}: {{ request.user.participant.team.coach.email }}</p>
                </div>
                {% if not request.user.participant.team.is_sent %}
                    <a href="{% url 'change-coach' %}">
                        <button class="button button-primary auth-button">{{ tr.edit }}</button>
                    </a>
                {% endif %}
              </div>
            {% else %}
                <!-- No coach -->
                {% if not request.user.participant.team.is_sent %}
                 <a href="{% url 'create-coach' %}" style="display: block; width: 100%;">
                    <button class="button button-primary auth-button" style="width: 100%;">{{ tr.add_coach }}</button>
                 </a>
                {% else %}
                    <div class="app-card">
                        <h5 class="info">{{ tr.no_info }}</h5>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        
        <div class="app-cards">
            <!-- Participants -->
            {% for participant in request.user.participant.team.participants.all %}
              <div class="app-card">
                <div>
                  <h4 class="title">{{ tr.participant }}</h3>
                  
                  {% if participant.is_done or participant != request.user.participant %}
                      <h3 class="title title-subhead">{{ participant.fullname }}</h4>
                      <p class="app-card-info">{{ tr.phone }}: {{ participant.phone }}</p>
                      <p class="app-card-info">{{ tr.email }}: {{ participant.email }}</p>
                   {% else %}
                       <h4 class="title">{{ participant.fullname|default:"..." }}</h4>
                   {% endif %}
                </div>
                
                {% if not request.user.participant.team.is_sent %}
                     <a href="{% url 'change-participant' participant.id %}">
                        <button class="button button-primary auth-button">{{ tr.edit }}</button>
                     </a>
                {% endif %}
                
                 {% if participant == request.user.participant and not participant.is_done %}
                      <a href="{% url 'change-participant' participant.id %}">
                        <button class="button button-primary auth-button">{{ tr.fullfill_self }}</button>
                      </a>
                 {% endif %}
              </div>
            {% endfor %}
            
            {% if not request.user.participant.team.is_full and not request.user.participant.team.is_sent %}
                 <a href="{% url 'create-participant' %}" style="display: block; width: 100%;">
                    <button class="button button-primary auth-button" style="width: 100%;">{{ tr.add_participant }}</button>
                 </a>
            {% endif %}
        </div>
      </footer>
    </main>
{% endif %}

{% endblock %}


{% block extra_scripts %}

<script type="module" src="{% static 'assets/js/utils/add-header.js' %}"></script>
<script type="module" src="{% static 'assets/js/utils/add-footer.js' %}"></script>

{% endblock %}