{% extends 'wrapper.html' %}
{% load static %}


{% block title %}
{{ tr.create_team }}
{% endblock %}

{% block content %}
<main class="team-create-page form-main-padded">
    <h1 class="title title-head">
        {{ tr.creating_team }}
    </h1>
    <form method="post" id="create-team">
        {% csrf_token %}
        <input type="hidden" name="command_type" value="0">
        <input type="hidden" name="univer_type" value="0">
    </form>

    <div class="buttons">
        <button type="button" class="button auth-button button-clicked command-type" id="school" data-key="0">
            {{ tr.schoolar_team }}
        </button>
        <button type="button" class="button button-primary auth-button command-type" id="university" data-key="1">
            {{ tr.students_team }}
        </button>
        <button type="button" class="button auth-button button-clicked univer-type" id="whole" data-key="0">
            {{ tr.university_type_same_institution }}
        </button>
        <button type="button" class="button button-primary auth-button univer-type" id="mixed" data-key="1">
            {{ tr.university_type_mixed }}
        </button>
        <div class="name_input_container" id="command_name">
            <input class="input auth-input" name="name" form="create-team" placeholder="{{ tr.team_name|default:'Название команды' }}"/>
            <div class="alarm">
                <img src="{% static 'assets/img/star.png' %}" alt="required label"/>
            </div>
        </div>

        <span class="error-info"> {{ tr.required_fields }}<br>
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
                {{error}}</br>
            {% endfor %}
            {% endfor %}
        </span>
        <button class="button button-primary auth-button" id="command_apply" type="submit" form="create-team">{{ tr.create }}</button>
    </div>
</main>

{% endblock %}

{% block extra_scripts %}
<script type="module" src="{% static 'assets/js/utils/add-header.js' %}"></script>
<script type="module" src="{% static 'assets/js/utils/add-footer.js' %}"></script>
<script type="module" src="{% static 'assets/js/create-command.js' %}"></script>
{% endblock %}
