{% extends 'wrapper.html' %}
{% load static %}

{% block title %} Личный кабинет {% endblock %} 

{% block content %} 

{% if not request.user.participant.team %} 
    {% if available_reg %}
        <div class="center_pa">
            <h1 class="title">Личный кабинет</h1>
            <h2 class="text">У вас нет команды. Нажмите на кнопку, чтобы добавить.</h2>
            {% if olymp_type == 'single' %}
                <form action="/team/create" method="post">
                    {% csrf_token %}
                    <button class="button signUp-button" type="submit">Добавить</button>
                </form>
            {% else %}
                <a href="{% url 'create-team' %}"><button class="button signUp-button">Создать команду</button></a>
            {% endif%}
        </div>
    {% else %}
        <div class="center_pa">
            <h2 class="center text">Регистрация закрыта...</h2>
        </div>
    {% endif %}
{% else %}
<div class="container_pa colflex">
    <div class="white-box">
        <div>
            <h1 class="team-name">{{request.user.participant.team.name}}</h1>
        </div>
    </div>
    <div class="white-box">
        <div class="table_com">
            <hr class="line" />
            <div class="rowflex_table">
                <div class="w30">
                    <h4 class="table-text">Статус</h4>
                </div>
                <div class="w70">
                    <h4 class="table-text">{{ request.user.participant.team.get_status_display }}</h4>
                </div>
            </div>
            <hr class="line" />
            <div class="rowflex_table">
                <div class="w30">
                    <h4 class="table-text">Трек</h4>
                </div>
                <div class="w70">
                    <h4 class="table-text">{{ request.user.participant.team.get_type_display }}</h4>
                </div>
            </div>
            <hr class="line" />
            <div class="rowflex_table">
                <div class="w30">
                    <h4 class="table-text">Стадия участия</h4>
                </div>
                <div class="w70">
                    <h4 class="table-text">{{ request.user.participant.team.stage }}</h4>
                </div>
            </div>
            <hr class="line" />
            {% if credentials and request.user.participant.team.status == 'good' %}
                <div class="rowflex_table">
                    <div class="w30">
                        <h4 class="table-text">Login</h4>
                    </div>
                    <div class="w70">
                        <h4 class="table-text">{{ request.user.participant.team.system_login }}</h4>
                    </div>
                </div>
                <hr class="line" />
                <div class="rowflex_table">
                    <div class="w30">
                        <h4 class="table-text">Password</h4>
                    </div>
                    <div class="w70">
                        <h4 class="table-text">{{ request.user.participant.team.system_password }}</h4>
                    </div>
                </div>
                <hr class="line" />
            {% endif %}
        </div>
    </div>
    <div class="rowflex gap22">
        <div class="wmax">
            <div class="white-box">
                <div class="info-block rowflex spacebetween">
                    <div>
                        <h3 class="info-title">Тренер<br />
                        {% if not request.user.participant.team.coach %}
                            {% if not request.user.participant.team.is_sent%}
                            <a href="{% url 'create-coach' %}">
                                <button class="button">
                                    Добавить тренера
                                </button>
                            </a>
                            {% else %}
                            <h5 class="info">No information.</h5>
                            {% endif %}
                        {% else %}
                            <h5 class="info">{{request.user.participant.team.coach.fullname}}<br />
                                Тел.: {{request.user.participant.team.coach.phone}}<br /> 
                                E-mail: {{request.user.participant.team.coach.email}}
                            </h5>
                        {% endif %}
                    
                    {% if request.user.participant.team.coach %}
                        {% if not request.user.participant.team.is_sent %}
                            
                                <a href="{% url 'change-coach' %}">
                                    <button class="button">
                                        Редактировать
                                    </button>
                                </a>
                            
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="wmax">
            <div class="colflex">
                {% for participant in request.user.participant.team.participants.all %}
                <div class="white-box">
                    {% if participant != request.user.participant %}
                    <div class="info-block wbox-mb rowflex spacebetween">
                        <div>
                            <h3 class="info-title">Участник</h3>
                            <h5 class="info">{{ participant.fullname }}</br>
                                Тел.: {{ participant.phone }}</br>
                                E-mail: {{ participant.email }}
                            </h5>
                            {% if not request.user.participant.team.is_sent %}
                                    <a href="{% url 'change-participant' participant.id %}">
                                        <button class="button">
                                            Редактировать
                                        </button>
                                    </a>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                        <div class="info-block wbox-mb rowflex spacebetween">
                            <div>
                                <h3 class="info-title">Участник</h3>
                            {% if not participant.is_done %}
                                <a href="{% url 'change-participant' participant.id %}">
                                    <button class="button">
                                        Заполнить информацию о себе
                                    </button>
                                </a>
                            {% else %}
                                <h5 class="info">{{ participant.fullname }}</br>
                                    Тел.: {{ participant.phone }}</br>
                                    E-mail: {{ participant.email }}</h5>
                                {% if not request.user.participant.team.is_sent %}
                                    <a href="{% url 'change-participant' participant.id %}">
                                        <button class="button">
                                            Редактировать
                                        </button>
                                    </a>
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% if not request.user.participant.team.is_full and not request.user.participant.team.is_sent %}
            <div class="button_add">
                <a href="{% url 'create-participant' %}">
                    <button class="button signUp-button">
                        Добавить участника
                    </button>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %} 
{% endblock %}
