{% extends 'wrapper.html' %}
{% load static %}


{% block title %}
Подтверждение регистрации
{% endblock %}

{% block content %}
<div class="container_pa colflex center_pa">
    <h2 class="text" style="text-align: center;">Нажатием кнопки вы подтверждаете правильность указанной вами информации об участниках олимпиады.
            После подтверждения информации, вы не сможете изменить информацию о команде.</h2>
    <form method="POST">
        {% csrf_token %}
        <button class="button signUp-button">
        Подтверждаю
        </button>
    </form>
</div>

<script src="{% static 'assets/js/forms.js' %}"></script>
{% endblock %}
