{% extends 'wrapper.html' %}
{% load static %}


{% block title %}
{{ tr.rul_page_team_create_page_team_verify_page_titl }}
{% endblock %}

{% block content %}
<main class="application-block app-main">
    <h1 class="title title-head">{{ tr.rul_page_team_create_page_team_verify_page_titl }}</h1>
    <div class="profile-container">
    <p class="profile-message">{{ tr.approvement_warning }}</p>
    <form method="POST" class="login-form">
        {% csrf_token %}
        <button class="button button-primary auth-button">
        {{ tr.confirm_button }}
        </button>
    </form>
    <div>
</main>
{% endblock %}

{% block extra_scripts %}
<script type="module" src="{% static 'assets/js/utils/add-header.js' %}"></script>
<script type="module" src="{% static 'assets/js/utils/add-footer.js' %}"></script>
{% endblock %}
