{% extends 'wrapper.html' %}
{% load static %}

{% block title %}
    Авторизация
{% endblock %}

{% block content %}
<main class="signUp">
  <hi class="title auth-title">Авторизация</hi>
  <form class="reg-form" method="post" id="login-form">
    {% csrf_token %}
    <input
      type="text"
      aria-label="Имя"
      class="input"
      placeholder="Имя"
      name="username"
    />
    <input
      type="password"
      name="password"
      aria-label="Пароль"
      class="input"
      placeholder="Пароль"
    />
  </form>
  <p class="wrong-inf">
    {% for field, errors in form.errors.items %} {% for error in errors %}
    {{error}}
    <br />
    <br />
    {% endfor %} {% endfor %}
  </p>
  <span class="no-account">
    Нет аккаунта?
    <a href="{% url 'signup' %}" class="signUp-link">Зарегистрироваться!</a>
  </span>
  <button form="login-form" class="button signUp-button" type="submit">
    Авторизоваться
  </button>
</main>
{% endblock %}
