{% extends 'wrapper.html' %}
{% load static %}

{% block title %}
Регистриция пользователя
{% endblock %}

{% block content %}

<main class="signUp">
  <form class="reg-form" method="post" id="signup-form">
  <hi class="title auth-title">Регистрация</hi>
  
    {% csrf_token %}
    <input type="text" aria-label="Имя" class="input" placeholder="Имя" name="username" required/>
    <input
      type="password"
      aria-label="Пароль"
      class="input"
      name="password1"
      placeholder="Пароль"
      required
    />
    <input
      type="password"
      aria-label="Повторите пароль"
      class="input"
      name="password2"
      placeholder="Повторите пароль"
      required
    />
    {{form.captcha}}
  
  <p class="wrong-inf">
    {% for field, errors in form.errors.items %}
      {% for error in errors %}
        {{error}}
        <br />
        <br />
      {% endfor %}
    {% endfor %}
  </p>
  {% if agreement %}
  <label class="confirm confirm-text">
    <input name="personal_data_agreement" required type="checkbox" class="checkbox" />
    <span class="checkmark"></span>
    <p>Согласен с <a class="policy" target="_blank" href="{{ agreement_url }}">политикой</a> обработки персональных данных</p>
  </label>
  {% endif %}
  <button form="signup-form" type="submit" class="button signUp-button">Зарегистрироваться</button>
</form>
</main>
{% endblock content %}
