.button {
    background-color: var(--button-color);
    border: none;
    border-radius: 15px;
    color: var(--avia-blue);
    font-family: var(--bold), sans-serif;
    font-weight: 900;
    font-size: 16px;
    padding: 8px 18px;
}

.translate-button {
    background-color: transparent;
}