:root {
  min-height: 100dvh;
  width: 100vw;
  color: var(--almost-black);
  background-image: url("../img/ornament.svg");
  background-position: 30px 245px;
  background-repeat: repeat-y;
  background-size: 100px auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  :root {
    background-image: none;
  }
}

html,
body {
  min-height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1 0 auto;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}
