{% load static %}
<footer class="footer">
  <div class="footer_content">
    <div class="footer_btn">
      <a href="{% url 'rules' %}"> Правила </a>
      <a href="{% url 'common-info' %}"> Общая информация </a>
    </div>
    <div class="footer_img">
      <a href="https://bsuir.by">
        <img src="{% static 'assets/img/sponsors/BSUIR.png' %}" alt="bsuir" />
      </a>
      <a href="https://vk.com/studsovet_fksis">
        <img src="{% static 'assets/img/sponsors/FCSaN.png' %}" alt="" />
      </a>
      <a href="https://t.me/fcsan_by">
        <img src="{% static 'assets/img/sponsors/telegram.png' %}" alt="" />
      </a>
      <a href="mailto:acm@bsuir.by">
        <img src="{% static 'assets/img/sponsors/Mail.png' %}" alt="" />
      </a>
    </div>
  </div>
</footer>
