{% load static %}
<!DOCTYPE html>
<html lang="{{ selected_language|default:'ru' }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.svg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/variables.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/css/title.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/button.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/input.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/droplist.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/command.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/auth.css' %}" />
    
    <link rel="stylesheet" href="{% static 'assets/css/rules.css' %}" />

    {{ tr|json_script:"bsuir-translations" }}
    <script>
        const translationsElement = document.getElementById("bsuir-translations");
        const translations = translationsElement ? JSON.parse(translationsElement.textContent) : {};

        window.BSUIR_CONFIG = {
            ...(window.BSUIR_CONFIG || {}),
            authenticated: {{ user.is_authenticated|yesno:"true,false" }},
            selectedLanguage: "{{ selected_language|default:'ru' }}",
            translations,
            navLinks: {
                home: "{% url 'index' %}",
                rules: "{% url 'rules' %}",
            },
            authLinks: {
                account: "{% url 'team-detail' %}",
                logout: "{% url 'logout' %}",
                login: "{% url 'login' %}",
            },
        };
    </script>

    {% block extra_head %}{% endblock %}
    {% include 'includes/ya_metrika.html' %}
</head>
<body>
    
    {% block content %}
    {% endblock %}
    
    {% block extra_scripts %}

    <script type="module" src="{% static 'assets/js/scroll.js' %}"></script>
    {% endblock %}
</body>
</html>
